/* header */

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #f4ebc6;
  font-family: "Inknut Antiqua", serif;
}

h2 {
  font-family: "Inknut Antiqua", serif;
  font-size: 40px;
  text-align: center;
}

header {
  background: #eed791;
  color: rgb(5, 5, 5);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.burger-menu {
  font-size: 40px;
  background: none;
  border: none;
  color: rgb(16, 15, 15);
  cursor: pointer;
}

/* Overlay-menu */
.menu-screen {
  display: none;
  width: 100%;

  background: #eed791; /* Ensfarvet baggrund */
  flex-direction: column;
  align-items: center;
}

/* Når menuen åbnes */
.menu-open {
  display: flex;
}

/* Større skriftstørrelse og fjern listepunkt */
.menu-list {
  list-style: none; /* Fjerner '-' */
  padding: 0;
  text-align: center;
  line-height: 80px;
}

.menu-list li {
  font-size: 60px; /* Større skriftstørrelse */
  color: rgb(13, 12, 12);
  margin: 20px 0;
}

/* Fjern underline og farveskift */
.menu-list li a {
  text-decoration: none;
  color: rgb(11, 10, 10);
  pointer-events: none;
}

/* Slut header */

.grid {
  display: grid;
  justify-items: center;
}

.billed_tekst {
  text-align: center;
}

.billed_tekst p {
  max-width: 30ch; /* Begrænser længden af linjen for teksten */
  margin: 0 auto; /* Centrerer teksten */
}

img {
  width: 90vw;
  border-radius: 10px;
}

.footer {
  display: grid;
  background-color: #eed791;
  width: 100%;
  justify-items: center;
  line-height: 40px;
}

.footer_overskrift {
  display: grid;
  text-align: center; /* Centrerer teksten */
  max-width: 30ch; /* Begrænser længden af linjen */
}

.footer_overskrift h3 {
  font-size: 40px;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #eed791;
}

.kategori {
  grid-column: 1 / 2;
  margin-right: 40px;
}
.folg_os {
  grid-column: 2 / 3;
}

@media (min-width: 428px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 400px;
  }

  img {
    width: 100%;
    border-radius: 10px;
  }

  .billed_tekst p {
    max-width: 50ch; /* Begrænser længden af linjen for teksten */
    margin: 0 auto; /* Centrerer teksten */
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer_overskrift {
    grid-column: 1 / 2;
  }
  .grid_1-1 {
    gap: 400px;
  }
  .kategori {
    grid-column: 2 / 3;
  }
  .folg_os {
    grid-column: 3 / 4;
  }
}
